 .overall {
        background-color: lightgray;
    }

    .result {
        font-size: 18px;
        position: fixed;
    }

    #btn {
        height: 30px;
        width: 80px;
        margin-top: 9px;
    }

    input {
        height: 30px;
        width: 200px;
        font-size: 18px;
    }

    .bigbar {
        height: 300px;
        width: 400px;
        display: flex;
        flex-direction: column;
        /* background-color: darksalmon; */
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
    }
